@model RegisterVm
<div class="row justify-content-center">
    <div class="col-md-6 card p-3">
        <h2 class="text-center text-info">Register</h2>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="mb-1">
                <label asp-for="email" class="form-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class=" mb-1">
                <label asp-for="firstName" class="form-label"></label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class=" mb-1">
                <label asp-for="middleName" class="form-label"></label>
                <input asp-for="middleName" class="form-control" />
                <span asp-validation-for="middleName" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="lastName" class="form-label"></label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="password" class="form-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="confirmPassword" class="form-label"></label>
                <input asp-for="confirmPassword" class="form-control" />
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>

            <div class="mb-1">
                <label asp-for="street" class="form-label"></label>
                <input asp-for="street" class="form-control" />
                <span asp-validation-for="street" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="State" class="form-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="zipCode" class="form-label"></label>
                <input asp-for="zipCode" class="form-control" />
                <span asp-validation-for="zipCode" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="city" class="form-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="country" class="form-label"></label>
                <input asp-for="country" class="form-control" />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="d-grid col-6 mx-auto mt-3">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>